.section1 {
  background-image: url(../image/Bridge.jpeg);
  background-size: cover;
  background-position: center;
  background-image: no-repeat;
  text-align: center;
  height: 450px;
}

.logo {
  padding: 5px;
  align-items: center;
  width: 100px;
  height: 100px;
}

.mi {
  text-align: center;
  font-size: 80px;
  color: yellow;
  padding: 0%;
}

.arrow {
  border: solid yellow;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.bridge {
  text-align: center;
  font-size: 24px;
  color: yellow;
}

.section2 {
  background-image: url(../image/Rock.jpeg);
  background-size: cover;
  background-position: center;
  background-image: no-repeat;
  height: 500px;
}

.text1 {
  color: yellow;
  width: 50%;
  float: left;
}

.text1 p {
  font-size: 65pt;
  padding: 30px;
  text-align: center;
}

.text2 {
  padding-top: 65px;
  color: white;
  font-size: 24pt;
}

.text2 p {
  padding: 10px;
  font-size: 26;
}

button {
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  background-color: black;
  color: yellow;
}

.section3 {
  background-image: url(../image/section3.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  color: yellow;
  text-align: center;
}

.box {
  margin: 25px;
  display: flex;
  justify-content: space-around;
}

.experience {
  padding-top: 10px;
  font-size: 24pt;
}

.kayak {
  background-image: url(../image/kayak.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 500px;
  position: relative;
}

.K {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  font-size: 20pt;
}

.hike {
  background-image: url(../image/Hiking.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 500px;
  position: relative;
}

.H {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  font-size: 20pt;
}

.boat {
  background-image: url(../image/Boat.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 500px;
  position: relative;
}

.B {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  font-size: 20pt;
}

.section4 {
  background-image: url(../image/Rock.jpeg);
  background-size: cover;
  background-position: center;
  background-image: no-repeat;
  height: 500px;
}

.text3 {
  color: yellow;
  width: 50%;
  float: left;
}

.text3 p {
  font-size: 42pt;
  padding: 8px;
  text-align: center;
  color: yellowgreen;
}

.text4 {
  padding-top: 65px;
  color: white;
  font-size: 24pt;
}

.text4 p {
  padding: 10px;
  font-size: 26;
}

.wear {
  font-size: 22pt;
  margin: 0%;
  color: white;
}

.section5 {
  background-image: url(../image/Section5.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  color: yellow;
  text-align: center;
}

.filter {
  color: white;
  visibility: hidden;
}

.circle {
  margin: 25px;
  display: flex;
  justify-content: space-around;
}

.c1 {
  background-image: url(../image/../image/black.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  height: 250px;
  position: relative;
  border-radius: 50%;
}

.c2 {
  background-image: url(../image/../image/black.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  height: 250px;
  position: relative;
  border-radius: 50%;
}

.c3 {
  background-image: url(../image/../image/black.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  height: 250px;
  position: relative;
  border-radius: 50%;
}

.c4 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  height: 250px;
  position: relative;
  border-radius: 50%;
}

.point {
  color: yellow;
  padding-top: 50px;
  font-size: 24pt;
}

.review {
  background-image: url(../image/section6.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
  color: yellow;
  text-align: center;
}

.review img {
  padding-top: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.review p {
  padding-left: 100px;
  padding-right: 100px;
  font-size: 24pt;
}
